:root {
    --primary-color: #F9DA4B;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-image: url('./img/breaking-bad-1182023.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
}

.container {
    display: flex;
    background-color: #333;
    height: 50%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    padding: 0.2rem;
    gap: 1rem;
}

.container .quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.container .quotes h1 {
    color: var(--primary-color);
    margin-bottom: -0.2rem;
}

.container .quotes p {
    font-family: 'Merriweather';
    font-weight: lighter;
    color: #9b9a9a;
}

.container .quote {
    font-family: 'Merriweather';
    text-align: center;
    text-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 2.5rem;
    width: 100%;
}

.container .author {
    font-family: 'Mulish';
    font-weight: 1.5rem;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 1.2rem;
}